<div class="btn-toolbar">
    <button class="btn">导入</button>
    <button class="btn">导出</button>
    <div class="btn-group">
    </div>
</div>
<div class="well">
    <table class="table">
        <!-- 表头 -->
        <thead>
        <tr>
            <th>系统编号</th>
            <th>文献标题</th>
            <th>文献作者</th>
            <th>文献关键词</th>
            <th style="width: 80px;"></th>
            <th style="width: 26px;"></th>
        </tr>
        </thead>
        <!-- 数据 -->
        {% for i in 1..10 %}
            <tbody>
            <tr>
                <td>{{ i }}</td>
                <td>基于Ｐｒｅｆｕｓｅ的信息可视化系统的研究</td>
                <td>陆健 Peter</td>
                <td>Prefuse，信息可视化，netdraw</td>
                <td><a href="#" class="btn btn-primary">下载</a></td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
<!-- 分页 -->
<div class="pagination pull-right">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
