<div class="btn-toolbar">
    <button class="btn btn-primary"><i class="icon-save"></i> 保存文献</button>

    <div class="btn-group">
    </div>
</div>
<div class="well">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title">标题</label>

            <div class="controls">
                <input type="text" id="title" placeholder="标题" class="input-xxlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="author">作者</label>

            <div class="controls">
                <input type="text" id="author" placeholder="作者" class="input-xxlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="keywords">关键词</label>

            <div class="controls">
                <input type="text" id="keywords" placeholder="关键词" class="input-xxlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="title">PDF</label>

            <div class="controls">
                <input type="file" id="pdf">
            </div>
        </div>

    </form>
</div>