<div class="btn-toolbar">
    <button class="btn">导入</button>
    <button class="btn">导出</button>
    <div class="btn-group">
    </div>
</div>
<div class="well">
    <table class="table">
        <!-- 表头 -->
        <thead>
        <tr>
            <th>系统编号</th>
            <th>问答标题</th>
            <th>提问会员</th>
            <th>提问时间</th>
            <th style="width: 100px;"></th>
            <th style="width: 26px;"></th>
        </tr>
        </thead>
        <!-- 数据 -->
        {% for i in 1..10 %}
            <tbody>
            <tr>
                <td>{{ i }}</td>
                <td>草泥马是什么生物？对白菜有害吗？</td>
                <td>念njau</td>
                <td>2013-10-22 09:18</td>
                <td><a href="#" class="btn btn-primary">查看详细</a></td>
                <td>
                    <a href="#"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
<!-- 分页 -->
<div class="pagination pull-right">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
