<div class="btn-toolbar">
    <button class="btn btn-primary"><i class="icon-save"></i> Save</button>
    <a href="#myModal" data-toggle="modal" class="btn">Delete</a>

    <div class="btn-group">
    </div>
</div>
<div class="well">
    <div id="myTabContent" class="tab-content">
        <form >
            <label>标题</label>
            <input type="text" value="jsmith" class="input-xlarge">
            <label>正文</label>
            <input type="text" value="John" class="input-xlarge">
        </form>

    </div>
</div>