<div class="btn-toolbar">
    <button class="btn btn-primary" id="btn-submit"><i class="icon-save"></i> 发布新闻</button>

    <div class="btn-group">
    </div>
</div>
<div class="well">
    <form id="form-news" class="form-horizontal" method="POST" action="{{ path('_api_news_add') }}">
        <div class="control-group">
            <label class="control-label" for="title">标题</label>

            <div class="controls">
                <input name="title" type="text" id="title" placeholder="标题" class="input-xxlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="content">正文</label>

            <div class="controls">
                <textarea name="content" id="content" rows="15" class="input-xxlarge" placeholder="正文"></textarea>
            </div>
        </div>
    </form>
</div>
<script>
    $('#btn-submit').click(function () {
        var title = $('#title').val();
        var content = $('#content').val();

        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-theme-future messenger-on-bottom',
            theme: 'future'
        }

        $.ajax({
            url: '{{ path('_api_news_add') }}',
            method: 'POST',
            data: 'title=' + title + '&content=' + content,
            success: function (msg) {
                Messenger().post({
                    message: "Weeeeee",
                    hideAfter: 300,
                    hideOnNavigate: true
                });

            }
        });
    });
</script>