<div class="btn-toolbar">
    <button class="btn btn-primary" id="btn-submit"><i class="icon-save"></i> 发布图文</button>
    <div class="btn-group">
    </div>
</div>
<div class="well">


    <div class="control-group">
        <label class="control-label" for="title">类别</label>

        <div class="controls">
            <select id="album_id" class="input-xxlarge">
                <option value="1">白菜病害</option>
                <option value="2">白菜虫害</option>
                <option value="3">杂草识别</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">标题</label>

        <div class="controls">
            <input type="text" id="title" placeholder="标题" class="input-xxlarge">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" id="label-image" for="title">图片</label>

        <form id="form-upload" class="form-horizontal" enctype="multipart/form-data" method="POST"
              action="{{ path('_file_upload_img') }}">
            <div class="controls">
                <input type="file" id="image" name="image">
                <a class="btn btn-primary" id="btn-upload">上传</a>
            </div>
        </form>
    </div>

    <div class="control-group">
        <label class="control-label" for="content">内容</label>

        <div class="controls">
            <textarea id="content" rows="15" class="input-xxlarge" placeholder="内容"></textarea>
        </div>
    </div>

</div>

<script type="text/javascript">

    var IMG_PATH = '';

    $('#btn-upload').click(function () {
        $('#form-upload').ajaxSubmit({
            dataType: 'json',
            beforeSubmit: function () {
            },
            success: function (json) {
                IMG_PATH = json.data.image_path;
                Messenger().post({
                    message: '图片上传成功！',
                    hideAfter: 3,
                    hideOnNavigate: true
                });
                $('#label-image').html('图片上传成功！');
            },
            error: function (xhr) { //上传失败
                console.log(xhr.responseText); //返回失败信息
            }
        });
    });

    $('#btn-submit').click(function () {
        if (IMG_PATH == '') {
            return;
        }
        var album_id = $('#album_id').val();
        var title = $('#title').val();
        var content = $('#content').val();
        $.ajax({
            url: '{{ path('_api_photo_add') }}',
            method: 'POST',
            data: 'title=' + title + '&content=' + content + '&album_id=' + album_id + '&image_path=' + IMG_PATH,
            success: function (msg) {
                Messenger().post({
                    message: '添加成功！',
                    hideAfter: 3,
                    hideOnNavigate: true
                });
                loadPhotoListPage();
            }
        });
    });

</script>