<div class="btn-toolbar">
    <button class="btn">导入</button>
    <button class="btn">导出</button>
    <div class="btn-group">
    </div>
</div>
<div class="well" style="float: left;width: 96%;">
    {% for photo in photos %}
        <div style="float: left;margin-right: 18px; margin-left: 18px;">
            <p align="center">
                <img width="100px" height="100px" src="{{ asset('uploads/images/') }}{{ photo.imagePath }}"
                     class="img-polaroid"><br/>
                <a href="{{ path('_photo_view',{album_id:photo.albumId, photo_id: photo.photoId}) }}" target="_blank">{{ photo.title }}</a>
            </p>
        </div>
    {% endfor %}


</div>
<!-- 分页 -->
<div class="pagination pull-right">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
