<script type="text/javascript">

    function loadNewsListPage() {
        var url = '{{ path('_admin_news_list') }}';
        var bc_arr = [
            ['{{ path('_admin_index') }}', '管理首页'],
            ['#', '新闻管理'],
            ['*', '新闻列表']
        ];
        loadAjax(url, generateBC(bc_arr), '新闻列表');
    }

    function loadPhotoListPage(album_id){
        var url;
        var bc_arr;
        var title;
        switch (album_id){
            case 1:
                break;
            case 2:
                break;
            case 3:
                break;
        }
        loadAjax(url, generateBC(bc_arr), title);
    }

    /**
     * 封装 ajax 请求
     */
    function loadAjax(url, bc, title) {
        $.ajax({
            url: url,
            method: 'GET',
            success: function (msg) {
                $('#page-title').text(title);
                $('#bread-crumb').html(bc);
                $('#body-content').html(msg);
            }
        });
    }

    /**
     * 封装面包屑
     * @param bc_arr
     * @returns {string}
     */
    function generateBC(bc_arr) {
        var bc = '';
        for (var i = 0; i < bc_arr.length; i++) {
            if (bc_arr[i][0] == '*') {
                bc += '<li class="active">' + bc_arr[i][1] + '</li>';
            } else {
                bc += '<li><a href="' + bc_arr[i][0] + '">' + bc_arr[i][1] + '</a><span class="divider">/</span></li>';
            }
        }
        return bc;
    }
</script>