{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>新闻列表</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">菜问首页</a></li>
                <li class="active">新闻列表</li>
            </ol>
            <hr>
        </div>

        <div class="col-lg-12 well" style="margin-top:20px;">
            <ul>
                {% for news in newses %}
                    <li><a href="{{ path('_news_view', {news_id: news.newsId}) }}" target="_blank">{{ news.title }}</a>
                        <span class="pull-right">{{ news.createTime|date('Y年 m月 d日 h:i') }}</span></li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}