{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>{{ news.title }}</h2>
            <ol class="breadcrumb" id="bc-list">
            </ol>
            <hr>
        </div>
        <div class="col-12 well" style="margin-top:20px;">
            <p>
                {{ news.content }}
            </p>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#bc-list').html(generateBC([
            ['{{ path('_index') }}', '菜问首页'],
            ['{{ path('_news_list') }}', '新闻列表'],
            ['*', '查看新闻']
        ]));
    </script>
{% endblock %}