{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>{{ news_id }}新闻标题新闻标题新闻标题新闻标题新闻标题</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">菜问首页</a></li>
                <li><a href="news-list.html">新闻列表</a></li>
                <li class="active">查看新闻</li>
            </ol>
            <hr>
        </div>
        <div class="col-12 well" style="margin-top:20px;">
            <p>
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
            </p>

            <p><img src="{{ asset('img/logo2.jpg') }}" alt="..." class="img-rounded img-responsive"></p>

            <p>
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
            </p>
        </div>

    </div>
{% endblock %}