{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>文献搜索</h2>
            <ol class="breadcrumb" id="bc-list">
            </ol>
            <hr>
        </div>

        <div class="col-lg-12 well" style="margin-top:20px;">
            <form method="POST" action="{{ path('_docs_search_list') }}">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-lg-2 control-label">标题</label>

                    <div class="col-lg-10">
                        <input name="title" type="text" class="form-control" id="inputEmail3" placeholder="标题">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-lg-2 control-label">作者</label>

                    <div class="col-lg-10">
                        <input name="author" type="text" class="form-control" id="inputEmail3" placeholder="作者">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-lg-2 control-label">关键词</label>

                    <div class="col-lg-10">
                        <input name="keywords" type="text" class="form-control" id="inputEmail3" placeholder="关键词">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary pull-right col-lg-2">搜 索</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#bc-list').html(generateBC([
            ['{{ path('_index') }}', '菜问首页'],
            ['*', '文献搜索']
        ]));
    </script>
{% endblock %}