{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>"呵呵" 的文献搜索结果</h2>
            <ol class="breadcrumb" id="bc-list">
            </ol>
            <hr>
        </div>

        <div class="col-lg-12 well" style="margin-top:20px;">
            <ul>
                {% for docs in docses %}
                    <li>{{ docs.title }} <a class="pull-right" href="#">点击下载</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#bc-list').html(generateBC([
            ['{{ path('_index') }}', '菜问首页'],
            ['{{ path('_docs_search') }}', '文献搜索'],
            ['*', '搜索结果']
        ]));
    </script>
{% endblock %}