{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>"呵呵" 的文献搜索结果</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">菜问首页</a></li>
                <li><a href="docs-search.html">文献搜索</a></li>
                <li class="active">搜索结果</li>
            </ol>
            <hr>
        </div>

        <div class="col-lg-12 well" style="margin-top:20px;">
            <ul>
                <li>菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献 <a class="pull-right" href="news-view.html">点击下载</a></li>
                <li>菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献 <a class="pull-right" href="news-view.html">点击下载</a></li>
                <li>菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献 <a class="pull-right" href="news-view.html">点击下载</a></li>
                <li>菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献 <a class="pull-right" href="news-view.html">点击下载</a></li>
                <li>菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献 <a class="pull-right" href="news-view.html">点击下载</a></li>
                <li>菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献 <a class="pull-right" href="news-view.html">点击下载</a></li>
                <li>菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献菜问文献 <a class="pull-right" href="news-view.html">点击下载</a></li>
            </ul>
        </div>

    </div>
{% endblock %}