{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>菜问问答</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">菜问首页</a></li>
                <li class="active">菜问问答</li>
            </ol>
            <hr>
        </div>

        <div class="row col-sm-12">
            <p><a href="faq-add.html" class="btn btn-primary pull-right">我要提问</a></p>
        </div>
        <div class="col-lg-12 well" style="margin-top:20px;">
            <ul>
                <li><a href="faq-view.html">请问白菜虫害如何预防？有什么参考文献吗？...</a> <span class="pull-right">2013-10-10</span></li>
                <li><a href="faq-view.html">请问白菜虫害如何预防？有什么参考文献吗？...</a> <span class="pull-right">2013-10-10</span></li>
                <li><a href="faq-view.html">请问白菜虫害如何预防？有什么参考文献吗？...</a> <span class="pull-right">2013-10-10</span></li>
                <li><a href="faq-view.html">请问白菜虫害如何预防？有什么参考文献吗？...</a> <span class="pull-right">2013-10-10</span></li>
                <li><a href="faq-view.html">请问白菜虫害如何预防？有什么参考文献吗？...</a> <span class="pull-right">2013-10-10</span></li>
                <li><a href="faq-view.html">请问白菜虫害如何预防？有什么参考文献吗？...</a> <span class="pull-right">2013-10-10</span></li>
                <li><a href="faq-view.html">请问白菜虫害如何预防？有什么参考文献吗？...</a> <span class="pull-right">2013-10-10</span></li>
            </ul>
        </div>

    </div>
{% endblock %}