{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">

        <div class="col-12">
            <h2>问题标题问题标题问题标题问题标题问题问题标题</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">菜问首页</a></li>
                <li><a href="faq-list.html">菜问问答</a></li>
                <li class="active">查看问答</li>
            </ol>
            <hr>
        </div>

        <div class="col-12 well" style="margin-top:20px;">

            <h3><strong>问题描述：</strong></h3>

            <p>
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
            </p>

            <h3><strong>附加图片：</strong></h3>

            <p>
                无
            </p>

            <h3><strong>管理员回复：</strong></h3>

            <p>
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
                白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述白菜虫害01描述
            </p>

        </div>

    </div>
{% endblock %}