{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing">
        <div class="col-lg-6 col-lg-offset-3 well">
            <form class="form-signin" action="reset-password.html">
                <h2 class="form-signin-heading"><strong>忘记密码</strong></h2>

                <p><input type="email" class="form-control" placeholder="请输入您的注册邮箱" autofocus></p>

                <p><input type="text" class="form-control" placeholder="请输入下面的验证码" autofocus></p>

                <p class="text-right">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">发送找回密码邮件</button>
                </p>
                <p class="text-right">
                    <a href="{{ path('_user_login') }}">返回登录</a>
                </p>

            </form>
        </div>
    </div>
{% endblock %}