{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing">
        <div class="col-lg-6 col-lg-offset-3 well">
            <form class="form-signin">
                <h2 class="form-signin-heading"><strong>注册菜问</strong></h2>

                <p><input type="text" class="form-control" placeholder="用户名" autofocus></p>

                <p><input type="email" class="form-control" placeholder="邮箱" autofocus></p>

                <p><input type="password" class="form-control" placeholder="密码"></p>

                <p><input type="password" class="form-control" placeholder="确认密码"></p>

                <p class="text-right">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">注 册</button>
                </p>
                <p class="text-right">
                    <a href="login.html">已有菜问账号？</a>
                </p>

            </form>
        </div>
    </div>
{% endblock %}