{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing">
        <div class="col-lg-6 col-lg-offset-3 well">
            <form id="form-reg" class="form-signin" method="POST" action="{{ path('_api_register') }}">
                <h2 class="form-signin-heading"><strong>注册菜问</strong></h2>

                <p><input name="username" type="text" class="form-control" placeholder="用户名" autofocus></p>

                <p><input name="email" type="email" class="form-control" placeholder="邮箱" autofocus></p>

                <p><input name="password" type="password" class="form-control" placeholder="密码"></p>

                <p><input name="password-bak" type="password" class="form-control" placeholder="确认密码"></p>

                <p class="text-right">
                    <a id="btn-reg" class="btn btn-lg btn-primary btn-block">注 册</a>
                </p>

                <p class="text-right">
                    <a href="{{ path('_user_login') }}">已有菜问账号？</a>
                </p>

            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('js/jquery-form/jquery.form.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).delegate('#btn-reg', 'click', function () {
                $('#form-reg').ajaxSubmit({
                    dataType: 'json',
                    beforeSubmit: function () {
                    },
                    success: function (json) {
                        window.location='{{ path('_user_login') }}';
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText); //返回失败信息
                    }
                });
            });
        });
    </script>
{% endblock %}